/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~angular-tree-component/dist/angular-tree-component.css';
@import '~@angular/material/theming';
@import '~dragula/dist/dragula.css';
@import "~bootstrap/dist/css/bootstrap.min.css";


$custom-typography: mat-typography-config(
    $font-family: 'Indie Flower'
);

@include mat-core($custom-typography);

@font-face{
  font-family:'Indie Flower', cursive;
  @import url('https://fonts.googleapis.com/css?family=Indie+Flower');

}
body {
    margin:0;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    background: #faedbe;
  app-root * {
    font-family: 'Indie Flower';
  }
}